/* Benefits */

.benefits-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.card-custom {
  background-color: var(--color-darkgrey); /* Trocar a cor? ou a var darkgrey ou #212529*/
  border-radius: 8px;
  color: var(--color-white);
  display: block;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
}

.card-custom .icon {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.card-custom:hover {
  background-color: #4c6b89;
  transform: translateY(-3px);
}

/* Journal */

.card { /* Definir a cor de fundo, ou a var darkgrey ou #212529 */
  border: none;
  max-width: 320px; /* Define um tamanho máximo para os cards */
  margin: auto;     /* Centraliza os cards */
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.03); /* Efeito de zoom ao passar o mouse */
}

.card-img-top {
  height: 180px;     /* Define uma altura fixa */
  object-fit: cover; 
  width: 100%;       /* Mantém a largura total do card */
}

.btn-outline-light {
  border-radius: 999px; 
}


