* {
  margin: 0;
  padding: 0;
  font-family: "Oxygen", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

/* Lê, se for usar coloração tenta padronizar, deixar como variável e como hexadecimal */
:root { 
  --color-background: #1A1A1A;
  --color-lightgrey: #D3D3D3;
  --color-light: #eaeaea;
  --color-white: #fff;
  --color-divider: #666;
  --color-darkgrey: #2b2b2b;
  --color-grey: #333333;
  --color-button: #84b0df;
}

html{
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  background-color: var(--color-background);
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}


/* Hero Background e Foreground */

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-background {
  background: 
    linear-gradient(to top, rgba(26, 26, 26, 0.9), rgba(26, 26, 26, 0) 35%), /* Escurecimento superior */
    linear-gradient(to right, rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0) 35%), /* Escurecimento esquerdo */
    linear-gradient(to bottom, rgba(26, 26, 26, 0.9), rgba(26, 26, 26, 0) 35%), /* Escurecimento inferior */
    linear-gradient(to left, rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0) 35%),  /* Escurecimento direito */
    url("../img/herobg_flow.webp") no-repeat center center/cover;
  
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Mantém a imagem no fundo */
}

.hero-foreground { /* Foreground para o conteúdo acima da imagem (Hero-Background) */
  color: var(--color-light);
  max-width: 90%;
  position: relative;
  padding: 2rem;
}

.hero-title {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.hero-text {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1.5rem;
}


/* Títulos das seções */
.section-trends-title, .section-ranked-title, .section-journal-title, .section-benefits-title{
  color: var(--color-light);
  letter-spacing: 0.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
  font-size: 2.5rem;
  /* Ver pra mexer na font-height */
}


/* Textos das seções */

.section-trends-text, .section-ranked-text, .section-journal-text, .section-benefits-text{
  color: var(--color-lightgrey);
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-align: center;
  margin-bottom: 2rem;
}

.section-journal-link {
  color: var(--color-lightgreyght);
}

/* Posters - Tendências e Ranking */
.gallery {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens quebrem para novas linhas */
  gap: 15px;
  justify-content: center; /* Centraliza os pôsteres */
  padding: 20px;
}

.poster {
  border-radius: 10px;
  height: 270px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  width: 180px; /* Tamanho fixo */
}

.poster img {
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.poster:hover {
  transform: scale(1.1);
}

/* Responsividade */
@media (max-width: 768px) {
  .gallery {
    align-items: center; /* Centraliza os itens */
    flex-direction: column; /* Empilha os pôsteres */
  }

  .poster {
    max-width: 250px; /* Limita o tamanho máximo */
    width: 90%; /* Pega quase toda a largura da tela */
  }
}

/* Quebra de Linha Personalizada */
.section-divider { /* <div class="section-divider"></div> */
  margin: 10px;
  position: relative;
  text-align: center;
}

.section-divider::before {
  background: var(--color-divider);
  content: "";
  height: 2px;
  top: 50%;
  left: 10%;
  width: 80%;
  opacity: 0.7;
  position: absolute;
}

/* Index.html - Benefits */

.benefits-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.card-custom {
  background-color: var(--color-darkgrey); /* Trocar a cor? ou a var darkgrey ou #212529*/
  border-radius: 8px;
  color: var(--color-white);
  display: block;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
}

.card-custom .icon {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.card-custom:hover {
  background-color: #4c6b89;
  transform: translateY(-3px);
}

/* Index.html - Journal */

.card { /* Definir a cor de fundo, ou a var darkgrey ou #212529 */
  border: none;
  max-width: 320px; /* Define um tamanho máximo para os cards */
  margin: auto;     /* Centraliza os cards */
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.03); /* Efeito de zoom ao passar o mouse */
}

.card-img-top {
  height: 180px;     /* Define uma altura fixa */
  object-fit: cover; 
  width: 100%;       /* Mantém a largura total do card */
}

.btn-outline-light {
  border-radius: 999px; 
}

/* Footer */

footer {
  background-color: var(--color-darkgrey); /* Decidir a cor de fundo, essa ou #212529 */
  color: var(--color-light);
  padding: 5rem 0;
}

.footer-text {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.footer-title {
  color: var(--color-lightgrey);
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.fab {
  font-size: 1.2rem;
}

.footer-link {
  color: var(--color-light);
  text-decoration: none;
  font-size: 1.1rem;
}

.footer {
  margin-top: auto;
}