.journal-body {
  background-color: var(--color-grey); 
}

/* Cards das notícias */
.card { 
  border: none;
  max-width: 320px; 
  margin: auto;    
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.03); 
}

.card-img-top {
  height: 180px;     
  object-fit: cover; 
  width: 100%;       
}

.btn-outline-light {
  border-radius: 999px; 
}

/* Espaçamento dos cards das notícias */
.row .col-md-4 {
  margin-bottom: 2.5rem; 
}

.main-title {
  color: var(--color-light);
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}

.main-subtitle {
  color: var(--color-lightgrey);
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
  text-align: center;
}