/* Logo */
.navbar-brand img {
  height: auto; /* Mantém a proporção da imagem */
  width: 3.125rem; /* Ajuste o tamanho conforme necessário */
}

.navbar {
  background-color: var(--color-background); /* Cor de fundo da navbar */
  padding: 0.9375rem 0;
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transição suave para sombra e efeito de transformação */
}

.navbar:hover {
  box-shadow: 0 -4px 8px rgba(200, 200, 200, 0.3); /* Sombra cinza clara */
}

/* Centraliza os itens da navbar */
.navbar-nav {
  margin: 0 auto;
  text-align: center;
}

.navbar-nav .nav-item {
  margin: 0 0.625rem;
}

/* Links/textos */
.navbar-nav .nav-link {
  color: var(--color-lightgrey); 
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}

.navbar-nav .nav-link:hover {
  color: #ffffff; /* Cor clara ao passar o mouse */
}

/*Search Button */
.search-container {
  position: relative;
}

.form-control {
  border-radius: 20px; /* Borda arredondada */
  padding-right: 2.5rem; /* Espaço para o ícone */
}

.search-btn { /* Ícone de lupa dentro do campo */
  background: none;
  border: none;
  color: #6c757d;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* Botão Hamburguer */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: white; /* Torna a borda do botão branca */
}