/* Layout de Base */
.signup-body {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    background: var(--color-grey);
    color: var(--color-white);
}

.signup-title {
    text-align: center;
    margin-top: 3rem;
}

.formulario-cadastro {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

/* Layout do formulário */
.formulario-cadastro form {
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.05);
    width: 100%;
    max-width: 800px;
}

/* Elementos do formulário */
.formulario-cadastro .form-label {
    color: var(--color-white);
    margin-bottom: 0.5rem;
}

/* Campos de entrada */
.formulario-cadastro .form-control {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--color-white);
    transition: all 0.3s ease;
}

.formulario-cadastro .form-control:focus {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0 0.25rem rgba(150, 152, 235, 0.25);
}

.formulario-cadastro .input-group-text {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--color-white);
}

/* Botão */
.formulario-cadastro .btn-primary {
    background-color: var(--color-blue);
    border: none;
    padding: 0.5rem 2rem;
    transition: all 0.3s ease;
}

.formulario-cadastro .btn-primary:hover {
    background-color: var(--color-button);
    transform: translateY(-2px);
}

/* Checkbox */
.formulario-cadastro .form-check-label {
    color: var(--color-white);
}

.formulario-cadastro .form-check-input {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.2);
}

.formulario-cadastro .form-check-input:checked {
    background-color: var(--color-blue);
}

.valid-feedback {
    color: #198754;
}

.invalid-feedback {
    color: #dc3545;
}
